@font-face {
  font-family: "iconfont"; /* Project id 3865587 */
  src: url('//at.alicdn.com/t/c/font_3865587_ie453twj9o.woff2?t=1696764814975') format('woff2'),
       url('//at.alicdn.com/t/c/font_3865587_ie453twj9o.woff?t=1696764814975') format('woff'),
       url('//at.alicdn.com/t/c/font_3865587_ie453twj9o.ttf?t=1696764814975') format('truetype');
}
@font-face {
  font-family: "zxfxyt";
  src: url('https://frp-boy.top:18080/file/zxfxyt.ttf') format('truetype');
}

.container {
  opacity: 0.9;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tansuo:before {
  content: "\e621";
}

.icon-md-train:before {
  content: "\e77d";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-dingyue:before {
  content: "\e600";
}

.icon-netease-cloud-music-fill:before {
  content: "\e6a4";
}

.icon-mail:before {
  content: "\e60d";
}

#maomao {position: fixed; bottom: 40px; right: -5px; width: 57px; height: 70px; background-image: url(/img/mao.svg); background-position: center; background-size: cover; background-repeat: no-repeat; transition: background .3s;}
#maomao:hover {background-position: 60px 50%;}